<li>
    {{burger_name}}

    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"> DEVOUR!
        {{!-- {{#if devoured}}DEVOUR!{{else}}WAITING TO BE EATEN!{{/if}} --}}
    </button>

    {{/if}}

    {{!-- <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"> DEVOUR!
        {{!-- {{#if devoured}}DEVOUR!{{else}}WAITING TO BE EATEN!{{/if}} --}}
    {{!-- </button> --}}

    {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>